h3 About this service
p   Hi! If you are at first time here, i think you must read this to know how to use this service! This is a show.com ver. 1.0.
    | This service helps you to manage and track you favourite tv shows. To start use this service you must login. Unfortunately at this time you can
    | login to the system only via your google account. If you login successfully you will see a little bit more features.
    | For example: user profile, notification settings, notification list, user's shows list, manage show buttons.
    | To start track you favourite tv show you must add this show to your list(click on a green button near the show item).
    | You can see the seasons list of each show and also episodes list of each season.
    | To ease show's tracking proccess services gives you a feature to mark each episode as watched.
    | If you want to reveice email notification about new episode comming, you must check proper notification type in "User settings" page.

hr
h3 Send message
div
    form.form-horizontal(ng-submit="sendMessage()", ng-controller="AboutCtrl", name="contactForm")
        div.form-group
            label.control-label(for="username") Your name
            div.col-lg-5
                input.form-control(type="text", name="username", id="username", ng-required="true", ng-model="formData.username")
        div.form-group
            label.control-label(for="username") Question type
            div.col-lg-5
                select.form-control(name="message_type", ng-required="true", ng-model="formData.message_type")
                    option(value="") Please, select message type
                    option(value="simple_message") Contact message
                    option(value="bug_report") I've foud a bug
                    option(value="idea") I have an idea
                    option(value="suggestion") I have a suggestion
        div.form-group
            label.control-label(for="text") Message
            div.col-lg-5
                textarea.form-control(rows="8", name="text", id="text", ng-required="true", ng-model="formData.text")
        div.form-group
            div.col-lg-5
                button.btn.btn-success(type="submit") Send message