div(ng-controller="NotificationCtrl")
    h2 Notification list
        button.pull-right.btn.btn-primary.set-as-read(ng-click="markNotificationAsRead()") Mark all as read
    .alert.alert-block.alert-dismissable.alert-info.animate-notification-repeat(ng-repeat="notification in notifications", ng-hide="hideMarkedNotification")
        button.close.set-as-read(type="button", ng-click="markNotificationAsRead(getNotificationId(notification)); hideMarkedNotification = !hideMarkedNotification;") &times;
        div(ng-bind-html="getNotificationText(notification)")
