div(ng-controller="ShowDetailsCtrl",ng-show="!isGuest")
    div(ng-show="addShowToWatchButton(ids, show.tvdb_id, showAddToWatchButton)")
        a.btn.btn-success.btn-mini.btn-sm(ng-click="addShowToWatch(show.tvdb_id)")
            i.icon-ok.icon-white
            | &nbsp;I'm watching
    div(ng-show="!addShowToWatchButton(ids, show.tvdb_id, showAddToWatchButton)")
        a.btn.btn-danger.btn-mini.btn-sm(ng-click="removeShowFromWatch(show.tvdb_id)")
            i.icon-ban-circle.icon-white
            | &nbsp;I'm not watching
