form(class="form-horizontal ajax", ng-controller="UserProfileCtrl", ng-submit="saveUserInfo()")
    fieldset
        legend Название формы
        div.control-group
            label.control-label(for="name") Имя
            div.controls
                input(type="text", name="name", id="name", placeholder="Введите свое имя", ng-model="user.name")
        div.control-group
            label.control-label(for="email") E-mail
            div.controls
                input(type="text", name="email", id="email", autocomplete="off",placeholder="Введите свой E-mail", ng-model="user.email")
        div.control-group
            label.control-label(for="password") Новый пароль
            div.controls
                input(type="password", name="password", id="password", ng-model="user.password")
        div.control-group
            div.controls
                button(type="submit", class="btn btn-success") Сохранить