h2 User Information
form(class="form-horizontal ajax", ng-controller="UserProfileCtrl", ng-submit="saveUserInfo()")
    fieldset
        div.form-group
            label.control-label(for="name") Имя
            div.col-lg-5
                input.form-control(type="text", name="name", id="name", placeholder="Введите свое имя", ng-model="user.name")
        div.form-group
            label.control-label(for="email") E-mail
            div.col-lg-5
                input.form-control(type="text", name="email", id="email", autocomplete="off",placeholder="Введите свой E-mail", ng-model="user.email")
        div.form-group
            div.col-lg-5
                button(type="submit", class="btn btn-success") Сохранить