extends ../layout
block content
    - if (result.length>0)
        ul.thumbnails
            - each item in result
                - var poster = item.images.poster
                li.span3

                        a(href="/show/view/#{item.tvdb_id}/", class="thumbnail")
                            img(src="#{poster.replace('.jpg', '-300.jpg')}", style="height:290px;")
                        .caption(style="height:50px;")
                            a(href="/show/view/#{item.tvdb_id}/")
                                h5 #{item.title}