ul.thumbnails(ng-controller="UserShowsCtrl")
    li.animate-items-repeat(ng-repeat="show in shows")
        a(ng-href="#/show/view/{{show.tvdb_id}}/", class="thumbnail")
            img(ng-src="{{show.images.poster|getPosterUrl:300}}", style="height:290px;")
        .caption
            a(ng-href="#/show/view/{{show.tvdb_id}}/")
                h5 {{show.title}}
                div(ng-controller="ShowDetailsCtrl",ng-show="!isGuest")
                    div(ng-show="!showAddToWatchButton")
                        a.btn.btn-success.btn-mini.btn-sm(ng-click="addShowToWatch(show.tvdb_id)")
                            i.icon-ok.icon-white
                            | &nbsp;I'm watching!
                    div(ng-show="showAddToWatchButton")
                        a.btn.btn-danger.btn-mini.btn-sm(ng-click="removeShowFromWatch(show.tvdb_id)")
                            i.icon-ban-circle.icon-white
                            | &nbsp;I'm not watching
