ul.thumbnails(ng-controller="TrendCtrl")
    li(ng-repeat="item in shows")
        a(ng-href="#/show/view/{{item.tvdb_id}}/", class="thumbnail")
            img(ng-src="{{item.images.poster|getPosterUrl:300}}", style="height:290px;")
        .caption(style="height:50px;")
            a(ng-href="#/show/view/{{item.tvdb_id}}/")
                h5 {{item.title}}