div(ng-controller="ShowDetailsCtrl")
    div.pull-left
        a.thumbnail.span11
            img(ng-src="{{item.show.images.poster|getPosterUrl:300}}")
        div.clearfix
    .offset3
        h4 {{item.show.title}}
        p {{item.show.overview}}

        b Дата первого выхода:
        |  {{item.show.first_aired*1000|date:'medium'}}
        br
        b День и время выхода:
        |  {{item.show.air_day}} {{item.show.air_time}}
        br
        b Страна:
        |  {{item.show.country}}
        br
        b Ссылка на Internet Movie Database(imdb.com):
        a(href="http://www.imdb.com/title/{{item.show.imdb_id}}", target="_blank") http://www.imdb.com/title/{{item.show.imdb_id}}
        br
        b Жанр:
        |  {{item.show.genres | arrayToString}}
        br
        b Количество сезонов:
        |  {{item.seasonsCount}}
        br
        br
        a.pull-right.btn.ajax.btn-info(ng-click="seasonsList(item.show.tvdb_id)") Список сезонов
        div(ng-show="!item.isGuest")
            div(ng-show="!item.watchedByUser")
                a.btn.btn-success(ng-click="addShowToWatch(item.show.tvdb_id)")
                    i.icon-ok.icon-white
                    | &nbsp;Я его смотрю!
            div(ng-show="item.watchedByUser")
                a.btn.btn-danger(ng-click="removeShowFromWatch(item.show.tvdb_id)")
                    i.icon-ban-circle.icon-white
                    | &nbsp;Я уже не смотрю!
        br
        br
        div#seasons_list.btn-group(ng-show="seasonsAreLoaded")
            a.btn.btn-info(ng-repeat="season in seasons", ng-if="season.season", ng-click="episodesList(item.show.tvdb_id,season.season)", ng-class="{active:seasonIsLoaded === season.season}") Season # {{season.season}}
        div(ng-show="seasonIsLoaded")
            br
            div.media(ng-repeat="episode in episodes|orderBy:byEpisodeNumber:reverse")
                a.pull-left
                    img.media-object(ng-src="{{episode.images.screen}}", style="max-height:120px;")
                div.media-body
                    h4.media-heading # {{episode.episode}} . {{episode.title}}
                    b
                        span.text-right {{episode.first_aired_utc*1000|date:'medium'}}
                    p  {{episode.overview}}
                    div(ng-show="!item.isGuest")
                        div(ng-if="!ids[episode.episode]")
                            a.btn.btn-primary(ng-click="addEpisodeToWatch(item_id,episode.season,episode.episode)") Посмотрел
                        div(ng-if="ids[episode.episode]")
                            a.btn.disabled.btn-success Уже Посмотрел

                hr
        br
        br