doctype 5
html
    head
        title Shows
        link(href="/css/bootstrap.css", media="all", rel="stylesheet", type="text/css")
        script(src="/js/jquery-1.8.2.min.js")
        script(src="/js/bootstrap.js")
        script(src="/js/masonry.pkgd.js")
        script(src="/js/MyModal.js")
        script(src="/js/MyFunctions.js")
        script(src="/js/scripts.js")
    body
        .navbar.inverse.navbar-inverse
            .navbar-inner
                a.brand(href='/') Shows
                if (isGuest)
                    a.brand.login-form(href='#login', data-toggle="modal") Login
                else
                    a.brand(href='/logout/') Logout

        .container-fluid
            .row-fluid
                .span2
                    ul.nav.nav-tabs.nav-stacked
                        //-li
                            a(href="/show/find") Find Show
                        li
                            a(href="/show/trend/") Trending Shows
                        if (!isGuest)
                            li#notification_count
                                a(href="/notification/") My notifications &nbsp;
                                        span.badge.badge-success.hide
                            li
                                a(href="/show/list/") View my shows list
                            li.disabled
                                a Manage Account
                            li
                                a(href="/user/") User Information
                            li
                                a(href="/user/settings") User Settings

                .span7
                    form(method="GET", action="/show/find/")
                        .input-append.span5
                            input.span15(type="text", name="query", value="")
                            button.btn(type="submit") Search

                        img.offset1#loader(src="/img/257.gif", style="width:30px;display:none;")
                        div.clearfix
                    block content
        #footer
        include  includes/login_form
        include  includes/system_message_popup

        input#isGuest(type="hidden", value="#{isGuest}")