!!!5
html(ng-app="showApp")
    head
        title Shows
        link(href="/css/bootstrap.css", media="all", rel="stylesheet", type="text/css")
        link(href="/css/styles.css", media="all", rel="stylesheet", type="text/css")
        script(src="/js/jquery-1.8.2.min.js")
        script(src="/js/angular.js")
        script(src="/js/controllers.js")
        script(src="/js/services.js")
        script(src="/js/filters.js")
        script(src="/js/directives.js")
        script(src="/js/angular-route.js")
        script(src="/js/ui-bootstrap-0.7.0.js")
        script(src="/js/ui-bootstrap-tpls-0.7.0.js")
        script(src="/js/scripts.js")
    body
        .navbar.inverse.navbar-inverse
            .navbar-inner
                a.brand(href='/') Shows
                if (isGuest)
                    a.brand.login-form(ng-href='/login/google/') Login via Google
                else
                    a.brand(href='/logout/') Logout

        .container-fluid
            .row-fluid
                .span2
                    ul.nav.nav-tabs.nav-stacked
                        li
                            a(href="{{'#/show/trend/'}}") Trending Shows
                        if (!isGuest)
                            li#notification_count(ng-controller="MainCtrl")
                                a(href="#/notification/") My notifications &nbsp;
                                        span.badge.badge-success(ng-hide="notificationCount < 0") {{notificationCount}}
                            li
                                a(href="#/show/list/") View my shows list
                            li
                                a(href="#/user/") User Information
                            li
                                a(href="#/user/settings") User Settings

                .span7
                    form(ng-submit="find()",novalidate="true", ng-controller="FindCtrl")
                        .input-append.span5
                            input.span15(type="text", ng-model="query", ng-required="true", ng-minlength=3)
                            button.btn(type="submit") Search
                        img.offset1#loader(src="/img/257.gif", style="width:30px",ng-controller="AjaxHandlerCtrl", ng-show="ajaxStarted")
                        div.clearfix
                    div(ng-view)
        include includes/system_message_popup.jade
        #footer
        input#isGuest(type="hidden", value="#{isGuest}")
