!!!5
html(ng-app="showApp")
    head
        title Shows
        link(href="/css/bootstrap.css", media="all", rel="stylesheet", type="text/css")
        link(href="/css/bootstrap_slate.css", media="all", rel="stylesheet", type="text/css")
        link(href="/css/styles.css", media="all", rel="stylesheet", type="text/css")
        link(href="/css/fancyInput.css", media="all", rel="stylesheet", type="text/css")
        link(href="/css/nprogress.css", media="all", rel="stylesheet", type="text/css")
        script(src="/js/jquery-1.8.2.min.js")
        script(src="/js/fancyInput.js")
        script(src="/js/animatescroll.js")
        script(src="/js/nprogress.js")
        script(src="/js/angular.js")
        script(src="/js/angular-animate.js")
        script(src="/js/angular-route.js")
        script(src="/js/controllers.js")
        script(src="/js/services.js")
        script(src="/js/filters.js")
        script(src="/js/directives.js")
        script(src="/js/ui-bootstrap-0.7.0.js")
        script(src="/js/ui-bootstrap-tpls-0.7.0.js")
        script(src="/js/scripts.js")
    body
        .navbar.inverse.navbar-inverse
            .navbar-inner
                a.brand(href='/') Shows
                a.brand(href='#/about/') About
                if (isGuest)
                    a.brand.login-form(ng-href='/login/google/') Login via Google
                else
                    a.brand(href='/logout/') Logout

        .container-fluid
            .row-fluid
                .span2
                    ul.nav.nav-tabs.nav-stacked
                        li
                            a(href="{{'#/show/trend/'}}") Trending Shows
                        if (!isGuest)
                            li#notification_count(ng-controller="NotificationCtrl")
                                a(href="#/notification/") My notifications &nbsp;
                                        span.badge.badge-success(ng-hide="notificationCount < 0", ng-init="getNotificationCount()") {{notificationCount}}
                            li
                                a(href="#/show/list/") View my shows list
                            li
                                a(href="#/user/") User Information
                            li
                                a(href="#/user/settings") User Settings

                .span7
                    form(ng-submit="find()",novalidate="true", ng-controller="FindCtrl")
                        .span6.effect4
                            div.fancyinput.pull-left
                                input(type="text", ng-model="query", ng-required="true", ng-minlength=3, style="width:340px; height:30px;")
                            button.btn.pull-left(type="submit", style="margin: -3px 0px 0px 10px;") Search
                        //img.animate-show#loader(src="/img/257.gif", style="width:30px",ng-controller="AjaxHandlerCtrl", ng-show="ajaxStarted")
                        div.clearfix
                    div(ng-view)
        include includes/system_message_popup.jade
        div.scrollToTop.top
            a.btn.btn-info(scroll-to-top, ng-show="showButton") Scroll to top
        div.scrollToTop
            a.btn.btn-info(scroll-to-top, ng-show="showButton") Scroll to top
        #footer
        input#isGuest(type="hidden", value="#{isGuest}")
